* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
	color: #000;;
	background: white;
	font-size: 110%;
	line-height: 1.5;
	--sidebar-width: 30ch;
}
.homepage {
	padding: 2rem;
}
.wrapper {
	max-width: 1500px;
}
.homepage div {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
.sidebar {
	width: var(--sidebar-width);
	background: #ddd;
	padding: 1rem;
	height: 100%;
	position: fixed;
}
.sidebar h2 {
	color: #666;
	text-align: center;
}
img {
	display: block;
	margin: 0;
}
.content-wrapper {
	box-sizing: content-box;
	margin: 0 0 0 var(--sidebar-width);
	padding: 2rem;
}
.explosives {
	float: right;
}

.drones-list {
	margin-top: 1.5rem;
}


h1, h2, h3 {
	color: #0051ac;
	font-weight: bold;
}
h1 {
	font-size: 250%;
	margin-bottom: 0;
	padding: 0.05em 0 0 0;
	line-height: 1;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 120%;
}

.title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.title.homepage {
	display: block;
	position: relative;
}

.title-homepage > div {
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	width: 100%;
	justify-content: center;
}

.subtitle-nav {
	display: flex;
	flex-wrap: nowrap;
	width: 25rem;
	margin: 0.5rem auto 0 auto !important;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.nav-button {
	margin: 0 !important;
	color: white;
	background: #0051ac;
	padding: 0.5rem 1rem;
	text-decoration: none;
	border-radius: 10px;
}

.guide {
	margin: 0 0 2em 0;
}
button:focus {
	outline: none;
}

.flow *+* {
	margin-top: 1.2em;
}
.not-flow *+* {
	margin-top: 0;
}
.flow *+h1, .flow *+h2, .flow *+h3 {
	margin-top: 2em;
}
.flow h2 + h3 {
	margin-top: 1em;
}
.flow li+li {
	margin-top: 0;
}
.content {
	margin-top: 1.5em;
}
ul {
	margin-left: 2em;
}
.ship-grid {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	max-width: 1000px;
}

p {
	max-width: 40em;
}

button {
	font-size: 100%;
	padding: 0.5em 1em;
	background: #ffd;
	border: none;
	width: 100%;
	margin-top: 1rem;
	cursor: pointer;
}
button:disabled {
	color: #a00;
	background: #eee;
	cursor: not-allowed;
}

.cluster {
	display: flex;
	gap: 1rem
}
.ship-name {
	text-align: center;
}

table {
	border-collapse: collapse;
}
td.center, th.center {
	text-align: center;
}
td, th {
	padding:  0.25rem 0.5rem;
	border-bottom:  1px solid grey;
}

.explosives-table td, .explosives-table th {
	border: none;
	padding: 0.5rem 1rem;
}
.explosives-table th {
	padding-left: 0.5rem;
	padding-bottom: 0;
	text-align: left;
}
.explosives-table td {
	padding: 0 0.5rem;
}
.explosives-table tr:nth-child(even) td {
	padding-top: 0.5rem;
}
.drones-table tr:nth-child(even) td {
	padding-top: 0;
}
.drones-table tr:nth-child(odd) td {
	padding-top: 0.75rem;
}
.explosives h2 {
	text-align: center;
}

.home-nav {
	display: flex;
	place-items: center center;
	justify-content: center;
	list-style: none;
	margin: 0;
	gap: 1rem;
	flex-wrap: wrap;
}
.home-nav li {
	height: 100%;
	width: 250px;
	height: 180px;
	padding: 1rem;
	border-radius: 10px;
}

.home-nav a {
	height: 100%;
	display: block;
	color: white;
	font-size: 200%;
	font-weight: bold;
	padding: 1rem;
	text-decoration: none;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.home-nav a span {
	background:rgba(0,0,0, 0.75);
	display: inline-block;
	padding: 0 1rem;
	align-content: center;
	margin-top: 30px;
}
.bg-mantis {
	background-image:	url("/img/backgrounds/sharp_blue_nebula.png");
}
.bg-crystal {
	background-image:	url("/img/backgrounds/stars1.png");
}
.bg-engi {
	background-image:	url("/img/backgrounds/arsenal_nebula_liquid_blue.png");
}
.bg-federation {
	background-image: url("/img/backgrounds/bg_dullstars2.png");
}
.bg-rebel {
	background-image: url("/img/backgrounds/dark_nebula.png");
}
.bg-lanius {
	background-image: url("/img/backgrounds/z_bg_nebula5.png");
}
.bg-rock {
	background-image: url("/img/backgrounds/blue_starfield_2.png");
}
.bg-auto {
	background-image: url("/img/backgrounds/z_bg_nebula11.png");
}
.bg-zoltan {
	background-image: url("/img/backgrounds/stars4.png");
}
.bg-slug {
	background-image: url("/img/backgrounds/Tim_Barton_Victory_edited.png");
}
.bg-auto a {
	background-image: url("/img/auto/homepage_bg.png");
}
.bg-crystal a {
	background-image: url("/img/crystal/homepage_bg.png");
}
.bg-engi a {
	background-image: url("/img/engi/homepage_bg.png");
}
.bg-federation a {
	background-image: url("/img/federation/homepage_bg.png");
}
.bg-lanius a {
	background-image: url("/img/lanius/homepage_bg.png");
}
.bg-mantis a {
	background-image: url("/img/mantis/homepage_bg.png");
}
.bg-rebel a {
	background-image: url("/img/rebel/homepage_bg.png");
}
.bg-rock a {
	background-image: url("/img/rock/homepage_bg.png");
}
.bg-slug a {
	background-image: url("/img/slug/homepage_bg.png");
}
.bg-zoltan a {
	background-image: url("/img/zoltan/homepage_bg.png");
}

.no-pirate {
	width: 372px;
	height: 500px;
	background-image: url("/img/no_pirate_card.png");
}
.no-pirate p {
	color: white;
	font-size: 300%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 150px;
}

.ship-item .image-box {
	position: relative;
}

.ship-card {
	--border-color: rgb(32, 68, 189);
	--border-width: 12px;
	width: 372px;
	height: 440px;
	border: var(--border-width) solid var(--border-color);
	background-color: rgba(32, 34, 138, 0.9);
	color: white;
	position: absolute;
	top: 0;
	padding: 1rem;
}

.ship-card a, .ship-card a:link, .ship-card a:visited {
	color:white;
}

.ship-card p.regular + p.regular {
	margin-top: 1rem;
}

.close-system, .close-extras {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 1rem;
	background-color: var(--border-color);
	padding-left: calc(0.3rem + var(--border-width));
	padding-top: var(--border-width);
	padding-right: 0.5rem;
	padding-bottom: 0.25rem;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.card-title {
	font-size: 140%;
	font-weight: bold;
}

.card-title-offset {
	float: right;
}

.ship-card table {
	margin-top: 1rem;
	width: 300px;
}

.ship-card td {
	text-align: center;
}

.ship-card tr:last-child td {
	border-bottom: none;
}

.system-icon {
	width: 29px;
	height: 29px;
	position: absolute;
	bottom: 13px;
		/* bottom: 50px; */
	border-radius: 50%;
	background: #c00;
	cursor: move;
	--startingOffset: 44px;
	--gap: 30px;
}

.js_system-links {
	cursor: pointer;
	z-index: 0;
}
.js_system-links:hover {
	background: rgba(27, 182, 53, 0.2) !important;
	border: 4px solid rgba(27, 182, 53, 0.5) !important;
}

.invisible-icon {
	background: transparent;
	cursor: pointer;
}

.icon-offset_0 {
	left: var(--startingOffset);
}
.icon-offset_1 {
	left: calc(var(--startingOffset) + var(--gap));
}
.icon-offset_2 {
	left: calc(var(--startingOffset) + 2 * var(--gap));
}
.icon-offset_3 {
	left: calc(var(--startingOffset) + 3 * var(--gap));
}
.icon-offset_4 {
	left: calc(var(--startingOffset) + 4 * var(--gap));
}
.icon-offset_5 {
	left: calc(var(--startingOffset) + 5 * var(--gap));
}
.icon-offset_6 {
	left: calc(var(--startingOffset) + 6 * var(--gap));
}
.icon-offset_7 {
	left: calc(var(--startingOffset) + 7 * var(--gap));
}
.icon-offset_8 {
	left: calc(var(--startingOffset) + 8 * var(--gap));
}

.system-icon.piloting {
	background-image: url(/img/system_icons/piloting.png);
	background-size: cover;
}
.system-icon.engines {
	background-image: url(/img/system_icons/engines.png);
	background-size: cover;
}
.system-icon.shields {
	background-image: url(/img/system_icons/shields.png);
	background-size: cover;
}
.system-icon.medbay {
	background-image: url(/img/system_icons/medbay.png);
	background-size: cover;
}
.system-icon.clonebay {
	background-image: url(/img/system_icons/clonebay.png);
	background-size: cover;
}
.system-icon.hacking {
	background-image: url(/img/system_icons/hacking.png);
	background-size: cover;
}
.system-icon.mind {
	background-image: url(/img/system_icons/mind.png);
	background-size: cover;
}
.system-icon.drones {
	background-image: url(/img/system_icons/drones.png);
	background-size: cover;
}
.system-icon.cloaking {
	background-image: url(/img/system_icons/cloaking.png);
	background-size: cover;
}
.system-icon.weapons {
	background-image: url(/img/system_icons/weapons.png);
	background-size: cover;
}
.system-icon.oxygen {
	background-image: url(/img/system_icons/oxygen.png);
	background-size: cover;
}
.system-icon.doors {
	background-image: url(/img/system_icons/doors.png);
	background-size: cover;
}
.system-icon.teleporter {
	background-image: url(/img/system_icons/teleporter.png);
	background-size: cover;
}

.drop-target {
	background: rgba(27, 182, 53, 0.2);
	position: absolute;
	border: 4px solid rgba(27, 182, 53, 0.5);
	--base: 35px;
	width: calc(2 * var(--base));
	height: calc(2 * var(--base));
	z-index: 2;
}
.drop-target.invalid {
	background: rgba(182, 27, 27, 0.2);
	border-color: rgba(182, 58, 27, 0.5);
}
.drop-target.transparent {
	background: transparent;
	border-color: transparent;
}
.drop-target.vertical {
	width: var(--base);
}
.drop-target.horizontal {
	height: var(--base);
}

.droppable-area {
	border: none;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.system-block {
	background: #373737;
	position: absolute;
	width: 25px;
	height: 25px;
}
.square .system-block {
	width: 40px;
	height: 40px;
	top: 10px;
	left: 10px;
}
.vertical .system-block {
	left: 0;
	top: 10px;
	height: 35px;
}
.horizontal .system-block {
	top: 1px;
	left: 15px;
	width: 35px;
}
.drop-target.with-block {
	z-index: 1;
	background: transparent;
	border-color: transparent;
}
.room-number, .optional-overlay {
	color: white;
	background: none;
	border-color: transparent;
	font-weight: bold;
	font-size: 0.8rem;
}
.room-number .system-block {
	background: none;
	top: -2px;
	left: 2px;
}
.room-number {
	z-index: 100;
}

.optional-overlay {
	background: hotpink;
	opacity: 0.3;
	border-width: 0;
}

.centred-layout {
	padding: 2rem 0 !important;
	margin: 0 auto;
	max-width: 40rem;
}

.centred-layout h1 {
	margin-top: 2rem;
}

.homepage-crumbs {
	text-align: center;
	width: 100%;
	max-width: 100%;
}
.homepage-title, .homepage-sub {
	text-align: center !important;
	width: 100%;
	margin-top: 0 !important;
}
.homepage-sub {
	color: #666;
}